html,body{
    width:100%;
    height:100%;
    overflow: hidden;
    position: relative;
    margin:0 auto;
    background-color:white;
    font-size:0.26rem;
}
img{position: absolute;}

.hp{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: #000;
    z-index: 999;
}
    .hp_box{
        position: absolute;
        left:50%;
        width:40%;
        height:100%;
        margin-left:-20%;

    }
    .hp .phone {
        width:50%;
        position:absolute;
        left:50%;
        margin-left:-25%;
        top:33%;
    }
    .hp .hp_tip{
        width:100%;
        position:absolute;
        top:70%;
    }
.pressDown{transform:translateY(0.05rem)}
.sp{
    z-index: 999;
    background-color:rgb(0,0,0)
}
    .sp-bg{width:100%;z-index:-1;}
    .sp-pic{width:1.76rem;height:2.72rem;left:50%;margin-left:-0.88rem;top:50%;margin-top:-1.36rem;}
.tip-sp{background-color:rgba(0,0,0,0.8);width:100%;height:100%;position:absolute;z-index:999;top:0;}
    .tip-sp .pic1{width:2.28rem;left:50%;margin-left:-1.14rem;top:2.8rem;}
    .tip-sp .pic2{width:5.34rem;left:50%;margin-left:-2.67rem;top:0.8rem;}

.dg.main.a{width:3.2rem !important;}

.input-box{width:100%;}
    .input-box input{display:block;width:100%;height:0.6rem;border:none;outline:none;background-color:rgba(0,0,0,0);padding:0.17rem;text-align:center;margin:0;font-size:0.26rem;}
    .input-box input::placeholder{color:#3f3f3f;text-align: left;font-size:0.26rem;}
    .input-box input::-webkit-input-placeholder{color:#999;text-align: left;font-size:0.26rem;}
    .input-box .name-box{}
        .ui-input-name{}
    .input-box .phone-box{}
        .ui-input-phone{}
.select-box{width:100%;height:1.4rem;position: relative;}
        .select-box select{color:#3f3f3f;height:0.6rem;position: absolute;-webkit-appearance: none;border:none;outline:none;font-size:0.2rem;background-color:rgba(0,0,0,0);padding: 0 0 0 0.17rem;margin:0;}
        .select-box .ui-select1{width:1.9rem;top:0;}
        .select-box .ui-select2{width:100%;bottom:0;}

#iCreative{width:100%;height:100%;position: relative;}
    .P_bg{}
        .bg-pic{width:100%;}
    .P_webgl{}
        .scene-bg-box{width:100%;height:100%;position:absolute;left:0;top:0;}
            .scene-bg{width:100%;}
        .gl-container{width:100%;height:100%;position: absolute;}
        .tip-mask{}
        .tip-box{}
            .arrow-box{width:7rem;height:1.7rem;position: absolute;top:1.85rem;left:50%;margin-left:-3.5rem;z-index:10;}
                .arrow-box .tip-tile{width:3.6rem;left:50%;margin-left:-1.8rem;top:-1.3rem;}
                .arrow-box .btn{ }
                .arrow-box .btn1{ float: left; }
                .arrow-box .btn2{ float: right;}
                    .btn .arr{width: 1.2rem;position:static;margin:0 auto;}
                    .btn .txt{width: 1.3rem;position:static;}
        .time-box{width:2.28rem;height:0.75rem;position:absolute;left:0.3rem;top:0.3rem;z-index:9;}
            .time-box .time-bg{width:100%;}
            .time-box span.time-txt{position: absolute; width: 0.5rem; height: 0.3rem; line-height: 0.3rem; color: #64381f; left: 1.5rem; top: 0.34rem; font-size: 0.3rem;}

        .npc{width:1.11rem;height:1.95rem;position:absolute;right:-2.11rem;bottom:-2.95rem;background-image: url("../assets/images/p6_01.png");background-repeat: no-repeat;background-size: 2.22rem 1.95rem;}
        .npc-show{transform:translate3d(-2.11rem,-2.95rem,0)}
            .npc .dialog{width:1.8rem;left:-0.9rem;top:-0.9rem;}

    .P_address{background-color:rgba(0,0,0,0.8);z-index:101;}
        .paddress-box{width:4.7rem;height:6.53rem;position: absolute;left:50%;margin-left:-2.35rem;top:1.65rem;}
            .paddress-pic{width:100%;}
            .paddress-box .select-box{width:3.58rem;height:1.28rem;position:absolute;left:50%;margin-left:-1.79rem;top:1.23rem;}
                .paddress-xx{width:0.4rem;height:0.4rem;position:absolute;right:0.14rem;top:0.17rem;z-index:3;}
                .paddress-box .province{width:1.72rem;height:0.54rem;left:0;}
                .paddress-box .city{width:1.72rem;height:0.54rem;right:0;}
                .paddress-box .address{height:0.54rem;}

    .P_result{}
        .result-bg{ width:100%; z-index:-1; }
        .result-box{ width:2.28rem;height:0.75rem;position:absolute;left:50%;margin-left:-1.14rem;top:0.7rem;}
        .result-box img{ width:100% }

        .text-box{ width:3.06rem;height:0.76rem;position:absolute;top:2.1rem;left:50%;margin-left:-1.53rem; }
        .text-box .t-bg{ width:100%; }
        .text-box .text{ left: 1.25rem; top: -0.13rem; width: 1.6rem; }

    .P_result .title{width:4.58rem;left:50%;margin-left:-2.29rem;top:3.5rem;}
    .red-box{width:2.86rem;height:0.7rem;position: absolute;left:50%;margin-left:-1.43rem;top:5.94rem;}
        .red-box .red1{width:0.62rem;top:-0.4rem;right:0.2rem;z-index:1;}
        .red-box .red2{width:100%;}
    .P_result .btn-group{width:3rem;height:0.9rem;position: absolute;left:50%;margin-left:-1.5rem;top:7.15rem;}
        .btn-group .btn1{width:0.94rem;left:0;}
        .btn-group .btn2{width:0.94rem;right:0;}
    .P_result .p1{left:2.55rem;top:8.4rem;width:1.77rem;}
    .P_result .p2{right:0.3rem;top:8.5rem;width:2.53rem;}

    .P_board{background-color:rgba(0,0,0,0.8);z-index:102;}
    .P_board .content-box{width:5.22rem;height:7.46rem;position:absolute;left:50%;margin-left:-2.61rem;top:1.46rem;}
        .content-box .board-bg{ width:100%; }
        .content-box .board-xx{ width:0.5rem;right:0.1rem;top:-0.6rem; }
        .content-box .circle1{ width:1.8rem;left:0.94rem;top:2.3rem; }
        .content-box .circle2{ width:1.14rem;left:3.14rem;top:2.4rem; }
        .content-box .circle3{ width:1.4rem;left:2.75rem;top:4rem; }
        .content-box .circle4{ width:1.4rem;left:1.13rem;top:4.8rem; }

     .P2{}
        .P2 .bg-pic{z-index:-1;width:100%;bottom:0;}
        .P2 .p2-pic1{width:3.52rem;left:50%;margin-left:-1.76rem;top:0.4rem;}
        .P2 .chose-box{width:5.7rem;left:50%;margin-left:-2.85rem;top:2rem;position:absolute;}
            .chose-box .sex-box{left:0;}
            .chose-box .girl-box{float:left;}
            .chose-box .boy-box{float:right;}
                .sex-box .girl{width:1.75rem;position: relative;}
                .sex-box .boy{width:2.5rem;position: relative;}
                .sex-box .sex-txt{width:1rem;position:static;margin:0 auto;}

     .P1{}
        .p1-bg{z-index:-1;width:100%;bottom:0}
        .p1-1{width:0.97rem;left:1rem;bottom:1rem;}
        .p1-2{width:0.76rem;left:50%;top:4.5rem;margin-left:-0.38rem;z-index:2;}
        .p1-3{width:6.5rem;left:50%;top:0.5rem;margin-left:-3.25rem;}
        .p1-4{width:5.38rem;height:2.9rem;position: absolute;left:50%;margin-left:-2.69rem;top:2.2rem;background-image: url("../assets/images/p3.jpg");background-repeat: no-repeat;background-size: 16.14rem 2.9rem;}
        .p1-5{width:2.5rem;position: absolute;right:1rem;bottom:-0.1rem;}
        .p1-6{width:2rem;position: absolute;right:-0.8rem;bottom:0.7rem;}
        .p1-7{width:1.73rem;position: absolute;right:-0.9rem;bottom:-0.3rem;}
    .top{width:100%;position:absolute;padding:0.2rem;z-index:100;}
        .top .reason-btn{width:1.11rem;position: static;float:left;}
        .top .music-btn{width:0.36rem;position: static;float:right;margin:0.1rem;}
        .top .rule-btn{width:0.36rem;position: static;float:right;margin:0.08rem;}

     .P_loading{}
        .P_loading .loading-box{width:100%;top:3.5rem;position: absolute;}
        .loading-box .fish{width:6.4rem;height:2.08rem;top:0;position:relative;margin:0 auto;background-image:url("../assets/images/p1.jpg");background-repeat: no-repeat;background-size:19.2rem 2.08rem;}
        .loading-box .number-box{width:100%;text-align: center;word-spacing:0;}
            .number-box .static{ position:static }
            .number-box .number{ display:inline-block;margin:0 -0.03rem}
                .number img{width:0.38rem;}

        .loading-box .text{position: relative;width:1.36rem;margin:0.24rem auto;}
